
.wrapper{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
}
header{
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: auto;
    display: grid;
    grid-column: 1/13;
    grid-row: 1/2;
}
.one{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
    grid-column: 2/12;
    grid-row: 1/2;

    }
    .two{
        grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
        grid-column: 2/12;
        grid-row: 2/3;
    }
    .three{
        grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
        grid-column: 2/12;
        grid-row: 3/4;
    }
    .four{
        grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
        grid-column: 2/12;
        grid-row: 4/5 
    }
    .five{
        grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    display: grid;
        grid-column: 2/12;
        grid-row: 5/6;
    }