*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif; 
}
a{
    color: #000;
}
.one{
background-color: cornflowerblue;
}
.two{
background-color: aqua;
}
.three{
background-color: aquamarine;
}
.four{
background-color: turquoise;
}
.five{
background-color: cyan;
}